@model IEnumerable<EmployeeManagement.Models.Employee>

@if (TempData["DeleteMessage"]!= null)
{
    <div class="alert alert-info" id="delete">
        @TempData["DeleteMessage"]
    </div>
}
@if (TempData["UpdateMessage"]!= null)
{
    <div class="alert alert-info" id="update">
        @TempData["UpdateMessage"]
    </div>
}
@if (TempData["AddMessage"] != null)
{
    <div class="alert alert-info" id="Add">
        @TempData["AddMessage"]
    </div>
}

<script>
    function messageTimeOut(id){
        setTimeout(function () {
            var message = document.getElementById(id);
            if (message) {
                message.style.display = 'none';
            }
        }, 4000);
    }
    messageTimeOut("delete");
    messageTimeOut("update");
    messageTimeOut("Add");
</script>


<table class="table">
    <thead>
        <tr>
            <th>Emp_Id</th>
            <th>Company_Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>City</th>
            <th>PinCode</th>
            <th>Actions</th>
        </tr>
    </thead>
    <hr />
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => employee.Emp_Id)</td>
                <td>@Html.DisplayFor(modelItem => employee.Company_Name)</td>
                <td>@Html.DisplayFor(modelItem => employee.Name)</td>
                <td>@Html.DisplayFor(modelItem => employee.Email)</td>
                <td>@Html.DisplayFor(modelItem => employee.Mobile)</td>
                <td>@Html.DisplayFor(modelItem => employee.Address)</td>
                <td>@Html.DisplayFor(modelItem => employee.City)</td>
                <td>@Html.DisplayFor(modelItem => employee.PinCode)</td>
                <td>
                    @Html.ActionLink("Edit", "UpdateEmployee", new { Emp_Id = employee.Emp_Id }) |
                    @Html.ActionLink("Delete", "DeleteEmpById", new { Emp_Id = employee.Emp_Id }, new { onclick = "return confirm('Are sure wants to delete?');" })
                </td>
            </tr>
        }
    </tbody>
</table>

